/* 追加設定用stylesheet */
.main-page {
  position: relative;
}
.top_title {
  bottom: 50%;
  transform: translateY(50%);
}

.QR {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 5px;
}

.QR img {
  display: block;
  margin: 10px auto;
}

video {
  position: relative;
}

.character {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, 80%);
}

.welcome {
  font-family: "Yusei Magic", sans-serif;
}
